<h1 mat-dialog-title>更新フォーム</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>やりたいこと</mat-label>
    <textarea matInput [(ngModel)]="data.todoContent"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill"> 
    <mat-label>担当者</mat-label>
    <input matInput [(ngModel)]="data.tantouPerson">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>起票者</mat-label>
    <input matInput [(ngModel)]="data.kihyouPerson">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>起票日</mat-label>
    <input matInput type="date" [(ngModel)]="data.draftDate">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>対応状況</mat-label>
    <mat-select [(value)]="data.flg" >
      <mat-option value="1">未対応</mat-option>
      <mat-option value="2">対応中</mat-option>
      <mat-option value="3">対応済</mat-option>
  </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" (click)="onSubmitUpdate()" cdkFocusInitial>Ok</button>
</div>