<mat-sidenav-container class="example-container">
<mat-sidenav #sidenav mode="side" opened>
  <div class="sideMenu-h1">
    <img src="assets/logo.png" alt="Harvest Logo" class="logo" />
    <span class="logo">Harvest</span>
  </div>
  <mat-divider class="side"></mat-divider>
  <div class="sideMenu-h1">
    <img src="assets/myicon_kuri.png" class="logo" alt="User Image">
    <span class="name">Shun Kurihara</span>
  </div>
  <mat-divider class="side"></mat-divider>

  <mat-accordion class="side">
    <mat-expansion-panel class="side">
      <mat-expansion-panel-header >
        DashBoard
      </mat-expansion-panel-header>
      <div class="panel">
      <button mat-button>DashBord1</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div (click)="showList()" class="div-my-accordion-heder">
    <span class="span-center">DashBoard</span>
  </div>
  <div *ngIf="visible == false" class="div-my-accordion-contents">
    <span class="span-center">DashBoard 1</span>
  </div>
  <div *ngIf="visible == false" class="div-my-accordion-contents">
    <span class="span-center">DashBoard 2</span>
  </div>
  <div *ngIf="visible == false" class="div-my-accordion-contents">
    <span class="span-center">DashBoard 3</span>
  </div>
</mat-sidenav>
<mat-sidenav-content>

  <mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-icon-button routerLink="" (click)="sidenav.toggle()">
      <mat-icon>home</mat-icon>
    </a>
    <span style="flex: auto;"></span>
    <span>custom toolber</span>
    <span style="flex: auto;"></span>
    <a mat-icon-button>
      <mat-icon>menu</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<nav>
  <div>
    <a routerLink="">Home</a>|
    <a [routerLink]="['hello']" [queryParams]="{id:123,name:'taro'}">Hello</a>|
    <a [routerLink]="['msg','123']">Message</a>|
    <a [routerLink]="['todo']">Todo</a>|
    <a [routerLink]="['material']">Material</a>|
    <a href="https://harvestsharet0d0.herokuapp.com/">旧ハーベスト</a>
  </div>
</nav>
<div class="content">
  <router-outlet><p>{{message}}</p></router-outlet>
  <mat-divider></mat-divider>
  <p>This is angular sample page.</p>
  <p (click)="doClick()">push</p>
</div>
</mat-sidenav-content>
</mat-sidenav-container>