<mat-sidenav-container class="example-container">
<mat-sidenav #sidenav mode="over">
  <div class="sideMenu-h1">
    <img src="assets/logo.png" alt="Harvest Logo" class="logo" />
    <span class="logo">Harvest</span>
  </div>
  <mat-divider class="side"></mat-divider>
  <div class="sideMenu-h1">
    <img src="assets/myicon_kuri.png" class="logo" alt="User Image">
    <span class="name">Shun Kurihara</span>
  </div>
  <mat-divider class="side"></mat-divider>

  <div (click)="showList()" class="div-my-accordion-heder">
    <span class="span-center">Todo</span>
  </div>
  <div *ngIf="visible == false" class="div-my-accordion-contents">
    <span class="span-center">Allview</span>
  </div>
  <div *ngIf="visible == false" class="div-my-accordion-contents">
    <span class="span-center">DashBoard 2</span>
  </div>
  <div *ngIf="visible == false" class="div-my-accordion-contents">
    <span class="span-center">DashBoard 3</span>
  </div>
</mat-sidenav>
<mat-sidenav-content>

  <mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </a>
    <span style="flex: auto;"></span>
    <span>{{title}}</span>
    <span style="flex: auto;"></span>

  </mat-toolbar-row>
</mat-toolbar>
<nav>
  <div>
    <a routerLink="">Home</a>|
    <a [routerLink]="['todo']">Todo</a>|
    <a href="https://harvestsharet0d0.herokuapp.com/">旧ハーベスト</a>
  </div>
</nav>
<div class="content">
  <router-outlet></router-outlet>
  <br>
  <br>
  <br>
  <br>
</div>
</mat-sidenav-content>
</mat-sidenav-container>