/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    padding: 0px;
}

.right-aligned-header > .mat-content {
    justify-content: space-between;
}

.mat-content > mat-panel-title, .mat-content > div.right {
  flex: 0 0 auto;
}