.container{
    padding: 20px;
    margin: 10px;
    border: 1px solid red;
}

th{
    border: 1px solid white;
    padding: 5px 10px;
    color: white;
    background-color:#696;
}

td{
    border: 1px solid white;
    font-size: 14px;
    padding: 5px 10px;
    color: #363;
    background-color: #e9e9e9;
}

div.div-main{
    display: flex;
    justify-content: left;
}

mat-card-header.blue{
    background-color: #2790f8d8;
    border-radius: 3px;
    margin-bottom: 5px;

}
mat-card.blue{
    padding: 0px;
    border-radius: 3px;
    max-width: 200px;
}
mat-card-title.blue{
    margin: 10px;
    color: rgb(254, 254, 255);
}
mat-card-actions.blue{
    margin-left: 10px;
    margin-bottom: 0px;
}
div.right{
    margin-right: 10px;
}

mat-expansion-panel.regist{
    background-color: rgba(136, 237, 250, 0.5);
}

mat-expansion-panel.progress{
    background-color: rgba(255, 255, 0, 0.5);
}

mat-expansion-panel.done{
    background-color: rgba(63, 216, 63, 0.5);
}

mat-action-row{
    margin: 0px;
    padding: 5px;
}

button.edit{
    background-color: rgb(252, 252, 162);
    color: gray;
}

button.delete{
    background-color: rgb(250, 179, 179);
    color: gray;
}