<div class="container">
<mat-card>未対応：{{cntRegist}}</mat-card>
<mat-card>対応中：{{cntProgress}}</mat-card>
<mat-card>対応済：{{cntDone}}</mat-card>

<button mat-raised-button class="mainSubmit" (click)="onSubmitDialog()">
    <mat-icon class="add">add</mat-icon>
    <span class="add">作成</span>
</button>
<button mat-mini-fab class="sortRegist" (click)="sortTogleChange('regist')"><mat-icon class="fill">library_add</mat-icon></button>
<button mat-mini-fab class="sortProgress" (click)="sortTogleChange('progress')"><mat-icon class="fill">library_books</mat-icon></button>
<button mat-mini-fab class="sortDone" (click)="sortTogleChange('done')"><mat-icon class="fill">library_add_check</mat-icon></button>
<button mat-mini-fab class="sortAll" (click)="sortTogleChange('all')"><mat-icon class="fill">loop</mat-icon></button>


<mat-accordion *ngFor="let item of getContent()">
    <mat-expansion-panel class="{{getpanelColor(item.flg)}}" *ngIf="sortChangeIf(item.flg)">
        <mat-expansion-panel-header class="right-aligned-header">
            <mat-panel-title>
                {{item.tantouPerson}}
            </mat-panel-title>
            <mat-panel-description>
                <div>
                    {{item.todoContent}}
                </div>
            </mat-panel-description>
            <div class="right">
                {{item.draftDate}}
            </div>
        </mat-expansion-panel-header>
        <div>
            内容：{{item.todoContent}}
        </div>
        <mat-divider></mat-divider>
        <div>
            担当者：{{item.tantouPerson}}
        </div>
        <mat-divider></mat-divider>
        <div>
            起票者：{{item.kihyouPerson}}
        </div>
        <mat-action-row>
            <button mat-mini-fab class="edit" (click)="openEditDialog(item.nam,item.todoContent,item.tantouPerson,item.kihyouPerson,item.draftDate,item.flg)"><mat-icon>edit</mat-icon></button>
            <button mat-mini-fab class="delete" (click)="openDeleteDialog(item.nam,item.todoContent,item.tantouPerson,item.kihyouPerson,item.draftDate,item.flg)"><mat-icon>delete</mat-icon></button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
</div>
<button mat-fab class="submit" (click)="onSubmitDialog()"><mat-icon>add</mat-icon></button>
