.container{
    padding: 0px;
    margin: 10px;
}

th{
    border: 1px solid white;
    padding: 5px 10px;
    color: white;
    background-color:#696;
}

td{
    border: 1px solid white;
    font-size: 14px;
    padding: 5px 10px;
    color: #363;
    background-color: #e9e9e9;
}

div.div-main{
    display: flex;
    justify-content: left;
}

mat-card-header.blue{
    background-color: #2790f8d8;
    border-radius: 3px;
    margin-bottom: 5px;

}
mat-card.blue{
    padding: 0px;
    border-radius: 3px;
    max-width: 200px;
}
mat-card-title.blue{
    margin: 10px;
    color: rgb(254, 254, 255);
}
mat-card-actions.blue{
    margin-left: 10px;
    margin-bottom: 0px;
}
div.right{
    margin-right: 10px;
}

mat-expansion-panel.regist{
    background-color: rgba(136, 237, 250, 0.5);
}

mat-expansion-panel.progress{
    background-color: rgba(255, 255, 0, 0.5);
}

mat-expansion-panel.done{
    background-color: rgba(63, 216, 63, 0.5);
}

mat-action-row{
    margin: 0px;
    padding: 5px;
}

button.edit{
    background-color: rgb(252, 252, 162);
    color: gray;
}

button.delete{
    background-color: rgb(250, 179, 179);
    color: gray;
}
button.submit{
    background-color: rgb(149, 218, 250);
    color: gray;
    position: fixed;
    opacity: 0.9;
    bottom: 5%;
    right: 1%;
}
button.mainSubmit{
    background-color: rgb(149, 218, 250);
    color: rgb(99, 97, 97);
    margin-bottom: 3pt;
    margin-right: 5pt;
    width: 8%;
    padding: 0px;
    text-align: left;
}
button.sortRegist{
    background-color: rgba(136, 237, 250, 0.5);
    margin-right: 5pt;
    margin-bottom: 3pt;
}
button.sortProgress{
    background-color: rgba(255, 255, 0, 0.5);
    margin-right: 5pt;
    margin-bottom: 3pt;
}

button.sortDone{
    background-color: rgba(63, 216, 63, 0.5);
    margin-right: 5pt;
    margin-bottom: 3pt;
}

button.sortAll{
    background-color: rgba(96, 117, 175, 0.5);
    margin-right: 5pt;
    margin-bottom: 3pt;
}

mat-icon.add{
    margin-left: 3px;
    margin-right: 3px;
    padding: 0px;
}

mat-icon.fill{
    color: grey;

}

.cardBox{
    display: flex;
    margin-bottom: 2px;
}

.cardBox > mat-card{
    margin: 3px;

    padding: 3px;
    max-width: 100px;
    display: flex;
    justify-content: space-around;
}   

mat-card.regist{
    background-color: rgba(136, 237, 250, 0.5);
    align-items: center; 
}

mat-card.progress{
    background-color: rgba(255, 255, 0, 0.5);
    align-items: center; 
}

mat-card.done{
    background-color: rgba(63, 216, 63, 0.5);
    align-items: center; 
}


p.cnt{
    font-size:20px; 
}
p.title{
    font-size:15px; 

    color: rgb(36, 36, 36);
    top: 2px;
    left: 2px;
}
.white{
    color: ivory;
}
