<div class="container">
<p>{{message}}</p>
<form [formGroup]="inputTodo" (ngSubmit) = "onSubmit()">
    <table>
        <tr><th>やりたいこと</th></tr>
        <td><input type="text" formControlName="todoContent"></td>
        <tr><th>担当者</th></tr>
        <td><input type="text" formControlName="tantouPerson"></td>
        <tr><th>起票者</th></tr>
        <td><input type="text" formControlName="kihyouPerson"></td>
        <tr><th>対応日</th></tr>
        <td><input type="date" formControlName="draftDate"></td>
        <tr><th>対応状況</th></tr>
        <td>
        <select formControlName="flg">
            <option type="number" value="1">未対応</option>
            <option type="number" value="2">対応中</option>
            <option type="number" value="3">対応済</option>
        </select>
        </td>
        <input type="submit" value="click">
        </table>
</form>
<form [formGroup]="inputTodo" (ngSubmit) = "onSubmitUpdate()">
    <table>
        <tr><th>項番</th></tr>
        <td><input type="number" formControlName="nam"></td>
        <tr><th>やりたいこと</th></tr>
        <td><input type="text" formControlName="todoContent"></td>
        <tr><th>担当者</th></tr>
        <td><input type="text" formControlName="tantouPerson"></td>
        <tr><th>起票者</th></tr>
        <td><input type="text" formControlName="kihyouPerson"></td>
        <tr><th>対応日</th></tr>
        <td><input type="date" formControlName="draftDate"></td>
        <tr><th>対応状況</th></tr>
        <td>
        <select formControlName="flg">
            <option type="number" value="1">未対応</option>
            <option type="number" value="2">対応中</option>
            <option type="number" value="3">対応済</option>
        </select>
        </td>
        <input type="submit" value="click">
        </table>
</form>
<form [formGroup]="inputTodo" (ngSubmit) = "onSubmitDelete()">
    <table>
        <tr><th>項番</th></tr>
        <td><input type="number" formControlName="nam"></td>
        <input type="submit" value="click">
    </table>
</form>
<table>
    <tr>
        <th>nam</th>
        <th>content</th>
        <th>tantouperson</th>
        <th>kihyouperson</th>
        <th>draftdate</th>
        <th>flg</th>
    </tr>
    <tr *ngFor="let item of getContent()">
        <td>{{item.nam}}</td>
        <td>{{item.todoContent}}</td>
        <td>{{item.tantouPerson}}</td>
        <td>{{item.kihyouPerson}}</td>
        <td>{{item.draftDate}}</td>
        <td>{{item.flg}}</td>
    </tr>
</table>
</div>
